body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.board {
  height: 100%;
  width: 100%;
  background-color: #4fff8a;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
.column0 {
  width: 10vw;
  margin-top: 15vh;
}
.column1 {
  width: 10vw;
  margin-top: 15vh;
}
.column2 {
  width: 10vw;
  margin-top: 15vh;
}
