body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

}

.board {
  height: 100%;
  width: 100%;
  background-color: #4fff8a;
  display: flex;
  justify-content: center;
  overflow-y: hidden;

}

@width: 10%;
@topmargin: 15vh;

.column {
  width: @width;
  margin-top: @topmargin;
  position: relative;
}

.finalCard {
  @fheight: 20vw;
  margin: 20vh auto;
  height: @fheight;
  width: .7 * @fheight;
}

