body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.board {
  height: 100%;
  width: 100%;
  background-color: #4fff8a;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}
.column {
  width: 10%;
  margin-top: 15vh;
  position: relative;
}
